@font-face {
 font-family: 'Open Sans';
 font-weight: 300;
 font-style: normal;
 src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap') format('woff2');
}

@font-face {
 font-family: 'Open Sans';
 font-weight: normal;
 font-style: normal;
 src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap') format('woff2');
}

@font-face {
 font-family: 'Open Sans';
 font-weight: 600;
 font-style: normal;
 src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap') format('woff2');
}

@font-face {
 font-family: 'Open Sans';
 font-weight: 700;
 font-style: normal;
 src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap') format('woff2');
}

@font-face {
 font-family: 'Open Sans';
 font-weight: 800;
 font-style: normal;
 src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap') format('woff2');
}